#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define COL 0
#define SYM 1

/ {
    keymap {
        compatible = "zmk,keymap";

        colemak_dh {
            bindings = <
                    &kp N1          &kp N2      &kp N3     &kp N4         &kp N5                                         &kp N6         &kp N7                &kp N8                 &kp N9       &kp N0
        &kp ESC     &kp Q           &kp W       &kp F      &kp P          &kp B                                          &kp J          &kp L                 &kp U                  &kp Y        &kp SEMI  &kp SQT
&trans  &kp LSHFT   &kp A           &kp R       &kp S      &kp T          &kp G                                          &kp M          &kp N                 &kp E                  &kp I        &kp O     &lt PROG EQUAL  &trans
        &kp LCTRL   &kp Z           &kp X       &kp C      &kp D          &kp V            &kp C_MUTE   &kp C_AL_COFFEE  &kp K          &kp H                 &kp COMMA              &kp DOT      &kp FSLH  &kp MINUS
                                                &kp LGUI   &kp LALT       &kp TAB          &kp SPACE    &kp ENTER        &kp BACKSPACE  &kp DEL               &kp RIGHT_ALT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_DN PG_UP>;
        };

        symbols {
            bindings = <
                    &trans          &trans      &trans     &trans         &trans                                         &trans         &trans                &trans                 &trans       &trans
        &trans      &trans          &trans      &trans     &trans         &trans                                         &kp DOLLAR     &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp AT_SIGN  &trans    &trans
&trans  &trans      &kp BACKSLASH   &kp TILDE   &kp PIPE   &kp AMPERSAND  &kp EXCLAMATION                                &kp CARET      &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp HASH     &trans    &trans          &trans
        &trans      &trans          &trans      &trans     &trans         &trans           &trans        &trans          &kp GRAVE      &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp PERCENT  &trans    &trans
                                                &trans     &trans         &trans           &trans        &trans          &trans         &trans                &trans
            >;
        };
    };
};
