#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define COL 0
#define NAV 1
#define SYM 2
#define LOL 3
#define LCM 4
#define GAM 5
#define SWP 6

/ {
    behaviors {
        lp: layer_press {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            require-prior-idle-ms = <125>;
            // retro-tap;
            bindings = <&mo>, <&kp>;
        };

        mp: mod_press {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_swap {
            bindings = <&sl SWP>;
            // LCTRL+RCTRL
            key-positions = <36 49>;
        };
    };
    
    keymap {
        compatible = "zmk,keymap";

        colemak_dh {
            bindings = <
                    &mp F1 N1   &mp F2 N2    &mp F3 N3    &mp F4 N4   &mp F5 N5                                          &mp F6 N6      &mp F7 N7    &mp F8 N8      &mp F9 N9     &mp F10 N0
        &kp ESC     &kp Q       &kp W        &kp F        &kp P       &kp B                                              &kp J          &kp L        &kp U          &kp Y         &kp SEMI    &kp SQT
&trans  &kp LSHFT   &kp A       &kp R        &kp  S       &kp T       &kp G                                              &kp M          &kp N        &kp E          &kp I         &kp O       &kp RSHFT  &trans
        &kp LCTRL   &kp Z       &kp X        &kp C        &kp D       &kp V            &kp C_MUTE     &none              &kp K          &kp H        &kp COMMA      &kp DOT       &kp FSLH    &kp RCTRL
                                             &kp LGUI     &kp LALT    &kp TAB          &lp SYM SPACE  &lp NAV ENTER      &kp BACKSPACE  &kp DEL      &kp RIGHT_ALT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_DN PG_UP>;
        };

        navigation {
            bindings = <
                &trans  &trans   &trans   &trans    &trans                    &trans  &trans   &trans  &trans  &trans
        &trans  &trans  &trans   &kp UP   &trans    &kp HOME                  &trans  &trans   &trans  &trans  &trans  &trans
&trans  &trans  &trans  &kp LEFT &kp DOWN &kp RIGHT &kp END                   &trans  &trans   &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans   &trans   &trans    &trans  &trans    &trans  &trans  &trans   &trans  &trans  &trans  &trans
                                 &trans   &trans    &trans  &trans    &trans  &trans  &trans   &trans
            >;
        };

        symbols {
            bindings = <
                   &none   &none   &none   &none  &none                            &none        &none                 &none                  &none            &none
        &none      &none   &none   &none   &none  &none                            &kp DOLLAR   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp EXCLAMATION  &kp TILDE      &kp GRAVE
&none   &kp LSHFT  &none   &none   &none   &none  &none                            &kp CARET    &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp AMPERSAND    &kp PIPE       &kp HASH     &none
        &none      &none   &none   &none   &none  &none       &none    &none       &kp EQUAL    &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp PERCENT      &kp BACKSLASH  &kp AT_SIGN
                                   &none   &none  &none       &none    &kp MINUS   &kp PLUS     &kp STAR              &kp FSLH
            >;
        };

        league {
            bindings = <
                   &none    &kp N1  &kp N2      &kp N3     &kp N4                              &none  &none   &none  &none  &none
        &kp ESC    &kp TAB  &kp Q   &kp W       &kp E      &kp R                               &none  &none   &none  &none  &none  &none
&trans  &kp LSHFT  &kp B    &kp A   &kp S       &kp D      &kp F                               &none  &none   &none  &none  &none  &none  &none
        &kp LCTRL  &kp P    &kp Z   &kp X       &kp C      &kp V       &none          &none    &none  &none   &none  &none  &none  &none
                                    &kp T       &lp LCM G  &kp LALT    &kp SPACE      &none    &none  &none   &none
            >;
        };

        league_camera {
            bindings = <
                &kp F1  &kp F2    &kp F3    &kp F4     &kp F5                     &none  &none   &none  &none  &none
        &trans  &trans  &trans    &kp UP    &trans     &trans                     &none  &none   &none  &none  &none  &none
&trans  &trans  &trans  &kp LEFT  &kp DOWN  &kp RIGHT  &trans                     &none  &none   &none  &none  &none  &none  &none
        &trans  &trans  &trans    &trans    &trans     &trans  &trans    &none    &none  &none   &none  &none  &none  &none
                                  &trans    &trans     &trans  &trans    &none    &none  &none   &none
            >;
        };

        gaming {
            bindings = <
                   &mp F1 N1 &mp F2 N2 &mp F3 N3   &mp F4 N4  &mp F5 N5                           &none  &none   &none  &none  &none
        &kp ESC    &kp TAB   &kp Q     &kp W       &kp E      &kp R                               &none  &none   &none  &none  &none  &none
&trans  &kp LSHFT  &kp B     &kp A     &kp S       &kp D      &kp F                               &none  &none   &none  &none  &none  &none  &none
        &kp LCTRL  &kp G     &kp Z     &kp X       &kp C      &kp V       &none          &none    &none  &none   &none  &none  &none  &none
                                       &kp P       &kp LALT   &kp LCTRL   &kp SPACE      &none    &none  &none   &none
            >;
        };
        
        swap_layers {
            bindings = <
                &none  &none  &none   &none  &none                      &none  &none   &none  &none  &none
        &none   &none  &none  &none   &none  &none                      &none  &to LOL &none  &none  &none  &none
&none   &none   &none  &none  &none   &none  &to GAM                    &none  &none   &none  &none  &none  &none  &none
        &none   &none  &none  &to COL &none  &none    &none    &none    &none  &none   &none  &none  &none  &none
                              &none   &none  &none    &none    &none    &none  &none   &none
            >;
        };
    };
};
