if SHIELD_CORAX_DONGLE

config ZMK_KEYBOARD_NAME
    default "Corax Dongle"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_USB
    default y

endif

if SHIELD_CORAX_LEFT || SHIELD_CORAX_RIGHT || SHIELD_CORAX_DONGLE

config ZMK_SPLIT
    default y

config ZMK_BLE
    default y

endif
