config SHIELD_CORAX_LEFT
    def_bool $(shields_list_contains,corax_left)

config SHIELD_CORAX_RIGHT
    def_bool $(shields_list_contains,corax_right)

config SHIELD_CORAX_DONGLE
    def_bool $(shields_list_contains,corax_dongle)
